* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 1.25rem;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.header-logo img {
    width: 2.5rem;
    margin-right: .5rem;
}

header h4 {
    display: none;
    font-size: .75rem;
    font-weight: 500;
}

/* MEME / FORM */

main {
    padding: 2rem 1rem;
}

form {
    display: grid;
    gap: .5rem;
}

input {
    font-family: "Karla", sans-serif;
    border-radius: .33rem;
    border: 1px solid #D5D4D8;
    text-indent: .33rem;
    padding: .25rem 0;
}

/* MEDIA QUERIES */

@media screen and (min-width: 450px) {
    header h4 {
        display: block;
    }

    main {
        padding: 2rem;
    }

    form {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 1rem;
    }

    button {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 500px) {
    .header-logo {
        font-size: 1.25rem;
    }
}